<div class="outer">
    <div class="elements">
        <a class="anchor" href="/login">Login</a>
    </div>
    <span class="anchor">|</span>
    <div class="elements">
        <a class="anchor" href="/signup">Sign Up</a>
    </div>
</div>